// Theme 1
$theme1-primary-color: #3b4664;
$theme1-secondary-color: #181f32;
$theme1-tertiary-color: #d13f30;

$theme1-button-primary-color: #eae3db;
$theme1-button-secondary-color: #63729a;

// Theme 2
$theme2-primary-color: #e6e6e6;
$theme2-primary-blackness: 15%;

$theme2-secondary-color: #272726;
$theme2-tertiary-color: #c85401;

$theme2-button-primary-color: #e6e4e0;
$theme2-button-secondary-color: #388186;
$theme2-button-blackness: 40%;

// Theme 3
$theme3-primary-color: #17062a;
$theme3-primary-blackness: 5%;

$theme3-secondary-color: #ffe888;
$theme3-tertiary-color: #00decf;

$theme3-button-primary-color: #331b4a;
$theme3-button-secondary-color: #e6e4e0;
